.cta
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    background-color lighten($color_grey_light, 70%)
    // height: 30vh

    &__container
        max-width: 1200px
        width: 100%
        margin: 0 auto
        display: flex
        flex-direction: row
        align-items: center
        justify-content: center

        +mq(S)
            flex-direction: column
            padding: 20px

        &__text
            width: 75%
            margin-left: 20px
            color: $dark

            +mq(S)
                margin: 0 0 20px 0
                width: 100%
                text-align: center

            h3
                font-size: 2em
                margin-bottom: 10px

            p
                font-size: 1.2em
