.partners
    display: flex
    flex-direction: column
    flex-wrap: wrap
    justify-content: center
    align-items: center
    min-height: 50vh

    &__container
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        flex-wrap: wrap

        &__logo
            margin: 5px
            width: 200px
            height: auto
