@import "../_variables.styl"
@import "../00-mixins/mixins.styl"

.post
    position: relative
    display: flex
    flex-direction: column
    padding: 20px 0
    width: 100%

    &:first-child
        padding-top: 0

    &:last-child
        padding-bottom: 0

    &:after
        position: absolute
        content: ''
        width: 100%
        height: 1px
        background-color: lighten($color_grey_light, 50%)
        bottom: -10px
        left: 0

    &__no-post
        padding: 50px
        background-color: lighten($color_grey_light, 50%)
        border-radius: 10px

        h1
            text-align: center


    &__figure
        width: 100%
        height: 300px
        overflow: hidden
        border-radius: 3px

        img
            width: 100%
            height: auto

    &__content
        display: flex
        flex-direction: column
        justify-content: space-between
        // align-items: center
        width: 100%
        height: 100%
        padding: 10px 0 0 0

        &__title
            margin-bottom: 10px
            a
                color: $color_primary
                font-size: 1.7em
                font-weight: bold
                transition: all 0.2s ease-in-out

                &:hover, &:active, &:focus
                    color: $color_secondary
                    text-decoration: none


        &__text
            font-size: 1.2em
            color: $color_grey

        &__footer
            display: flex
            flex-direction: row
            justify-content: space-between
            align-items: flex-end
            margin: 10px 0 0 0

            &__description
                font-style: italic
                font-weight: bold
                color: $color_grey_light

    