$pm_distance = 50px

.section
    width: 100%
    font-family: Lato, 'Arial Narrow', Arial, sans-serif

    &--padding-both
        padding-top: $pm_distance
        padding-bottom: $pm_distance

    &--padding-top
        padding-top: $pm_distance

    &--padding-bottom
        padding-bottom: $pm_distance


    &--margin-both
        margin-top: $pm_distance
        margin-bottom: $pm_distance

    &--margin-top
        margin-top: $pm_distance

    &--margin-bottom
        margin-bottom: $pm_distance

    h1
        font-size: 3em
