@import "kouto-swiss"

ks-meyer-reset()

@import "./_fonts.styl"

body
    font-family: 'Lato'

@import "./00-commons/_buttons.styl"
@import "./00-commons/_section.styl"
@import "./00-commons/_navigation.styl"
@import "./00-commons/_jumbotron.styl"
@import "./00-commons/_cards.styl"

// components

@import "./01-components/_about.styl"
@import "./01-components/_events.styl"
@import "./01-components/_partners.styl"
@import "./01-components/_contact.styl"
@import "./01-components/_call-to-action.styl"
@import "./01-components/_contact.styl"
@import "./01-components/_footer.styl"

@import "./01-components/_post_blog.styl"
